body {
	text-align: center;
/*	font-size: 1.3em;
	line-height: 1.5em;*/
}

input {
	font-size: 1.3em;
}

#memory_board {
	background: #333;
	border: 1px solid #999;
	width: 800px;
	height: 500px;
	margin: 0 auto;
}

div#memory_board > .card{
	background: url(../images/default.png) no-repeat top;
	background-size: contain;  /*make background image fit into its container*/
	border:#000 1px solid;
	width:128px;
	height:128px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
	position: relative;
}

div#memory_board > div > img {
	width: 128px;
  	height: 128px;
  	position: absolute;
  	left: 0;
  	top: 0;
}
